@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #FFDF8C;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  padding: 30px;
}

/* buttons */
.button {
  cursor: pointer;
  background: #F4F4F4;
  border-radius: 15px;
  padding: 10px 20px;
  width: 100%;
  color: #232323;
  outline: none;
  font-weight: 700;
}


.header__filter-btn {
  width: 100px;
  height: 50px;
}


.header__filter-btn label {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  border-radius: 15px;
  padding: 10px 20px;
  background: #F4F4F4;
}

.header__filter-btn {
  margin-right: 10px;
}

.header__filter-btn input[type=radio]:checked+label {
  background: #232323;
  color: #F4F4F4;
}


/* btn-add in cart */
.food-block-btn {
  border: 1px solid #FE5F1E;
  background: white;
  color: #FE5F1E;
  font-size: 15px;
}

.food-block-btn:hover:not(:disabled) {
  background: #FE5F1E;
  color: white;
}

.food-block-btn:disabled {
  background: #F4F4F4;
  cursor: no-drop;
}

/* btn cart */

.button--cart,
.cart__item-button-buy,
.form__button-buy {
  background: #FE5F1E;
  color: white;
  border: 1px solid #FE5F1E;
  padding: 15px 20px;
  font-size: 15px;
}

.button--cart:hover,
.cart__item-button-buy:hover {
  background: #eb4200;
}

/* btn in cart */
.cart__item-button-back,
.cart__item-button-buy {
  margin-bottom: 20px;
  width: 300px;
}

.cart__item-button-back,
.form__item-button-back {
  text-decoration: none;
  border: 1px solid #979797;
  background: white;
  color: #979797;
  padding: 15px 20px;
  text-align: center;
}

.cart__item-button-back:hover,
.form__item-button-back:hover {
  color: white;
  background: #111111;
  border: 1px solid #111111;
}

.cart__item-btn_clearAll {
  cursor: pointer;
  color: #979797;
}

.cart__item-btn_clearAll:hover {
  color: #232323;
}

/* form */
.form__button-buy {
  width: 165px;
  margin-left: 13px;
}

.form__button-buy:disabled {
  cursor: no-drop;
}

.form__item-button-back {
  max-width: 300px;
}

/* radio-btn change D */
.food-block__selector {
  background-color: #F3F3F3;
  border-radius: 8px;
  padding: 5px 5px;
}

.food-block__from-radio {
  display: inline-block;
}

.food-block__from-radio:not(:last-child) {
  margin-right: 10px;
}

.food-block__from-radio input[type=radio],
.header__filter-btn input[type=radio] {
  display: none;
}

.food-block__from-radio label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
}

.food-block__from-radio input[type=radio]:checked+label {
  background-color: white;
}

/* header */

.header__container {
  display: grid;
  grid-template-columns: 1fr 170px;
  grid-template-rows: repeat(2, 70px);
  row-gap: 15px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header__logo {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 15px;
}

.header__logo img {
  grid-row: span 2;
  align-self: center;
}

.header__cart {
  display: grid;
  align-items: center;
  justify-content: end;
}

.header__filter {
  display: grid;
  grid-column: span 2;
}

.header__filter-btn-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


/* body */

.body__container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.body__title {
  margin-bottom: 20px;
}

.body__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  text-align: center;
}

.food-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.food-block__image {
  width: 170px;
}

/* cart */

.cart__container,
.form__container {
  box-sizing: border-box;
  padding: 30px;
  background-color: white;
  max-width: 1200px;
  width: 100%;
  min-height: calc(100vh - 270px);
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cart__item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
  padding-bottom: 30px;
}

.cart__item-title h2 {
  margin-right: 15px;
}

.cart__item-button {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}

/* cart with snacks */

.cart__item-food_container {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cart__item-content {
  display: grid;
  grid-template-columns: 120px 1fr 1fr 50px;
  align-items: center;
  justify-items: center;
  column-gap: 10px;
}

.cart__item-content:not(:last-child) {
  margin-bottom: 20px;
}

.food-block__image.inCart {
  width: 100%;
}

.cart__item-delete {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  outline: none;
  border: 2px solid #979797;
  color: #979797;
  font-weight: 900;
}

.cart__item-delete:hover {
  border: 2px solid #232323;
  color: white;
  background-color: #232323;
}


/* empty cart */

.cart__item-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.cart__item-empty img {
  margin-top: 40px;
  width: 300px;
}

.cart__item-empty h3 {
  color: #979797;
}

/* form */

.form__container {
  min-height: calc(100vh - 195px);
}

.form__error {
  width: 100%;
  margin-top: 5px;
  margin-left: 80px;
  color: red;
}

.form__application {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  height: 100%;
}

.form__row_label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px 0;
}

.form__row_label label {
  display: block;
  width: 70px;
  margin-right: 10px;
  text-align: end;
}

.form__row_label input {
  width: 100%;
  min-width: 150px;
  flex: 1;
  padding: 7px 15px;
  border-radius: 8px;
  border: 1px solid black;
}

.form__bottom_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1119px) {

  .container {
    min-height: calc(100vh);
    width: calc(100vw);
    padding: 0px
  }

  .header__container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .body__container,
  .cart__container,
  .form__container {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .cart__container {
    min-height: calc(100vh - 195px);
  }

}

@media screen and (max-width: 699px) {
  .header__filter-btn-container {
    justify-content: center;
  }
}

@media screen and (max-width: 701px) {
  .cart__item-button {
    justify-content: center !important;
  }
}

@media screen and (max-width: 579px) {
  .header__container {
    grid-template-rows: 80px 80px 1fr;
  }

  .header__logo {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .header__cart {
    justify-self: center;
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .header__filter {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  /* cart */

  .cart__container {
    min-height: calc(100vh - 280px);
  }

  .cart__item-content {
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: 100px 1fr 50px;
    text-align: center;
  }

  .cart__item-delete {
    grid-row: 1/3;
    grid-column: 3/4;
  }

  .food-block__image.inCart {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  /* form */
  .form__bottom_block {
    justify-content: center;
  }

  .form__item-button-back {
    margin-bottom: 15px;
  }
}


@media screen and (max-width: 385px) {
  .body__items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .form__button-buy {
    margin-left: 0px;
  }
}

@media screen and (max-width: 321px) {
  .form__row_label label {
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: start;
  }

  .form__error {
    margin-top: 5px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 305px) {
  .cart__item-title {
    justify-content: center;
  }
}

@media screen and (max-width: 290px) {
  .cart__item-title h2 {
    margin-right: 0px;
  }
}